@use '../../../styles/theme.scss' as *;
.auth-page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--bg-1);

    .auth-card {
        width: min(360px, 92vw);
        padding: 32px;
        background: var(--bg-2);
        border-radius: 16px;
        box-shadow: var(--card-shadow);
        display: flex;
        flex-direction: column;

        h2 {
            margin-bottom: 6px;
        }

        p {
            margin-bottom: 24px;
        }

    }

    .role-select {
        display: flex;
        gap: 12px;
        margin: 12px 0;

        label {
            gap: 4px;
        }
    }

    .switch {
        margin-top: 16px;
        font-size: 16px;
        span {
            cursor: pointer;
            color: var(--text-1);
        }
    }
}