@use '../../styles/theme' as *;

.btn-primary {
  width: 100%;
  padding: 14px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  color: var(--button-text-1);
  background: var(--button-bg-1);
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 30px rgba(0, 242, 255, 0.35);
  }
}
