@use '../../../../styles/theme.scss' as *;

.cart-item {
  display: grid;
  grid-template-columns: 60px 1fr auto auto;
  gap: 12px;
  align-items: center;
  background: var(--bg-3);
  padding: 12px;
  border-radius: 12px;

  img {
    width: 60px;
    height: 60px;
    object-fit: contain;
  }

  .info {
    h4 {

      margin: 0 0 4px;
      color: var(--text-1);
    }

    p {

      color: var(--text-2);
    }

    .qty-controls {
      display: flex;
      align-items: center;
      gap: 10px;

      button {
        width: 26px;
        height: 26px;
        border-radius: 6px;
        border: none;
        cursor: pointer;
        background: var(--bg-1);
        color: var(--text-1);
        font-weight: 600;
      }
    }
  }

  .qty {
   
    color: var(--text-2);
    white-space: nowrap;
  }

  .subtotal {
    font-weight: 600;
    color: var(--text-1);
    white-space: nowrap;
  }
  .remove {
      height: 2rem;
      width: 2rem;
      cursor: pointer;
    }
}

@media (max-width: 480px) {
  .cart-item {
    grid-template-columns: 50px 1fr auto;
    grid-template-areas:
      "img info qty"
      "img subtotal subtotal";

    img {
      grid-area: img;
    }

    .info {
      grid-area: info;
    }

    .qty {
      grid-area: qty;
    }

    .subtotal {
      grid-area: subtotal;
      text-align: right;
    }
  }
}