@use '../../../../styles/theme.scss' as *;

.profile-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 420px;
  max-height: 90vh;
  overflow-y: auto;

  background: var(--bg-2);
  border-radius: 18px;
  box-shadow: var(--card-shadow);
  z-index: 999;

  display: flex;
  flex-direction: column;
  &::-webkit-scrollbar {
    display: none;
  }
}

.header {
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255,255,255,0.06);

  button {
    background: none;
    border: none;
    font-size: 1.4rem;
    color: var(--text-2);
    cursor: pointer;
  }
}

.content {
  padding: 1.25rem;
  display: grid;
  gap: 1rem;

  .row {
    display: flex;
    flex-direction: column;

    label {
      font-size: 12px;
      color: var(--text-2);
      margin-bottom: 4px;
    }

    input,
    textarea {
      padding: 10px 12px;
      border-radius: 10px;
      border: 1px solid var(--text-3);
      background: var(--bg-3);
      color: var(--text-1);
      resize: none;

      &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
      }
    }

    textarea {
      min-height: 60px;
    }

    &.editable input:disabled {
      opacity: 0.4;
    }
  }
}

/* FOOTER */
.footer {
  padding: 1.25rem;
  display: flex;
  gap: 10px;

  button {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    cursor: pointer;
  }

  .edit {
    background: var(--button-bg-2);
    color: var(--button-text-2);
  }

  .save {
    background: var(--button-bg-1);
    color: var(--button-text-1);
  }

  .cancel {
    background: transparent;
    color: var(--text-2);
  }
}

/* MOBILE */
@media (max-width: 480px) {
  .profile-modal {
    width: calc(100% - 24px);
  }
}